/*

Coral: #EF7F57;
1: #67C7C3;
2: #57B4B2;
3: #138D8F;
4: #2E7A73;
5: #22605B;

*/

html {
  font-family: "Roboto", sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.white-link {
  transition: all .3s ease;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  color: #fff;
}

.white-link:hover,
.white-link:focus {
  border-bottom: 2px solid #fff;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border-radius: 10px;
  transition: all .3s ease;
}

.coral-btn {
  background-color: #EF7F57;
  border-color: #EF7F57;
}

.coral-btn:hover,
.coral-btn:focus {
  background-color: #e9521b;
  border-color: #e9521b;
}

.ghost-btn {
  background-color: transparent;
  color: #138D8F;
  border-color: #22605B;
}

.ghost-btn:hover,
.ghost-btn:focus {
  background-color: #22605B;
  border-color: #22605B;
}

.grey-bg {
  background-color: #F4F4F4;
}

.dark-bg {
  background-image: radial-gradient(circle at 0, #2E7A73 90%, #22605B 90%);
  color: #fff;
}

/* Header start */

nav {
  background-image: radial-gradient(circle at 0, #2E7A73 30%, #138D8F 30%);
  border-top: 2px #EF7F57 solid;
}

@media only screen and (min-width: 38em) {

  nav {
    background-image: radial-gradient(circle at -50%, #2E7A73 40%, #138D8F 40%);
  }
}

@media only screen and (min-width: 60em) {

  nav {
    background-image: radial-gradient(circle at 0%, #2E7A73 35%, #138D8F 35%);
  }
}

.nav-logo i {
  transition: all .3s ease;
}

.nav-logo:hover i {
  transform: scale(.9);
}

.nav-logo:focus i {
  transform: scale(.9);
}

.nav-link {
  color: #fff;
  border-radius: 10px;
  transition: all .3s ease;
}

.nav-link:hover,
.nav-link:focus {
  background-color: #2E7A73;
}


/* Header end */

/* Footer start */

footer {
  color: #fff;
}

input,
textarea {
  color: #000;
  border-color: #EF7F57;
  border-radius: 10px;
}

.footer-icon-link {
  transition: all .3s ease;
  text-decoration: none;
  color: #fff;
}

.footer-social-link {
  transition: all .3s ease;
  border-bottom: 2px solid transparent;
}

.footer-icon-link:hover .footer-social-link {
  border-bottom: 2px solid #fff;
}

.footer-icon-link:focus .footer-social-link {
  border-bottom: 2px solid #fff;
}

.dark1-bg {
  background-color: #434343;
}

.dark2-bg {
  background-color: #333333;
}

.dark3-bg {
  background-color: #1F1F1F;
}

.footer-icon {
  margin-right: .5rem;
}

.name-input {
  padding-right: 0;
}

@media only screen and (min-width: 38em) {
  .name-input {
    padding-right: .5rem;
  }
}

/* Footer end */

/* Home start */

.hook {
  top: 65%;
  left: 10%;
  z-index: 1;
}

.cover-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.text-link {
  color: #138D8F;
  text-decoration: none;
}

.text-link-icon {
  transition: all .3s ease;
}

.text-link:hover .text-link-icon {
  transform: translateX(.5em);
}

.text-link:focus .text-link-icon {
  transform: translateX(.5em);
}

.featured-blog-card {
  border-radius: 10px;
  transition: all .3s ease;
}

.featured-blog-card:hover,
.featured-blog-card:focus {
  transform: scale(.95);
}

.featured-blog-title {
  color: #22605B;
}

.featured-blog-body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 25em) {

  .featured-blog-image {
    border-radius: 10px 10px 0 0;
  }
}


@media only screen and (min-width: 38em) {

  .featured-blog-image {
    border-radius: 10px;
  }
}
/* Home end */

/* About start */

.about-header {
  top: 15%;
  left: 10%;
  z-index: 1;
}

/* About end */


/* Services start */

.services-button,
.services-icon {
  transition: all .3s ease;
}

.services-button:hover,
.services-button:focus {
  transform: scale(.9);
}


/* Services end */
