html {
  font-family: "Roboto", sans-serif;
}

.white-link {
  transition: all .3s ease;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  color: #fff;
}

.white-link:hover,
.white-link:focus {
  border-bottom: 2px solid #fff;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  transition: all .3s ease;
}

button:hover,
button:focus {
  transform: scale(.9);
}

.grey-bg {
  background-color: #F4F4F4;
}

/* Header start */

nav {
  background-color: #138D8F;
}

.nav-logo i {
  transition: all .3s ease;
}

.nav-logo:hover i {
  transform: scale(.9);
}

.nav-logo:focus i {
  transform: scale(.9);
}

/* Header end */

/* Footer start */

footer {
  color: #fff;
}

input,
textarea {
  color: #000;
  border-color: #138D8F;
}

.footer-icon-link {
  transition: all .3s ease;
  text-decoration: none;
  color: #fff;
}

.footer-social-link {
  transition: all .3s ease;
  border-bottom: 2px solid transparent;
}

.footer-icon-link:hover .footer-social-link {
  border-bottom: 2px solid #fff;
}

.footer-icon-link:focus .footer-social-link {
  border-bottom: 2px solid #fff;
}

.dark1-bg {
  background-color: #434343;
}

.dark2-bg {
  background-color: #333333;
}

.dark3-bg {
  background-color: #1F1F1F;
}

.footer-icon {
  margin-right: .5rem;
}

.name-input {
  padding-right: 0;
}

@media only screen and (min-width: 38em) {
  .name-input {
    padding-right: .5rem;
  }
}

/* Footer end */

/* Home start */

.hook {
  top: 65%;
  left: 10%;
  z-index: 1;
}

.cover-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.text-link {
  color: #138D8F;
  text-decoration: none;
}

.text-link-icon {
  transition: all .3s ease;
}

.text-link:hover .text-link-icon {
  transform: translateX(.5em);
}

.text-link:focus .text-link-icon {
  transform: translateX(.5em);
}

/* Home end */

/* About start */

.about-header {
  top: 15%;
  left: 10%;
  z-index: 1;
}

/* About end */


/* Services start */

.services-button,
.services-icon {
  transition: all .3s ease;
}

.services-button:hover {
  transform: scale(.9);
}

.services-button:focus {
  transform: scale(.9);
}


/* Services end */
