<a href="{{site.baseurl}}{{include.data.url}}" class="grid grid-middle push grey-bg featured-blog-card" itemprop="url">
  <div class="unit xs-1 s-2 m-1-3 featured-blog-image-wrapper">
    <img class="img-flex featured-blog-image" src="{{include.data.featuredimg}}" alt="" itemprop="image">
  </div>
  <div class="unit xs-1 s-1 m-2-3 gutter">
    <div class="grid pad-t pad-b-1-2 featured-blog-top">
      <h3 class="unit xs-1-2 push-0 giga bold featured-blog-title">{{include.data.title}}</h3>
      <p class="unit xs-1-2 push-0 text-right">{{include.data.postdate}}</p>
    </div>
    <p class="milli push featured-blog-body">{{include.data.introduction}}</p>
  </div>
</a>
