---
layout: default

title: Blog · Roz Ross
description: All of Roz Ross' blog posts, news and updates.

blog-intro: Stay updated on my blog posts, news and updates.

---

<section class="push-2 pad-b">
  <div class="relative banner">
    <div class="embed embed-24by10 embed-banner">
      <img class="embed-item" src="/images/blog/blog-cover.jpg/" alt="" itemprop="image" role="presentation">
    </div>
    <div class="absolute pin-c max-length gutter banner-text">
      <h1 class="push-1-4 zetta">Blog</h1>
      <strong>{{page.blog-intro}}</strong>
    </div>
  </div>
</section>

<section class="grid wrapper-2 gutter push-2 pad-b-2">

  <div class="unit xs-1 s-1 m-1 l-3-4">
    <div>
      <h2>Posts</h2>
    </div>

    {% for post in site.posts %}
    <article class="">
      {% include patterns/post.html data=post %}
    </article>
    {% endfor %}

  </div>

  <div class="unit xs-1 s-1 m-1 l-1-4 gutter">
    <div>
      <h2>Connect</h2>
    </div>
    <div class="twitter">
      <a class="twitter-timeline" data-height="500" data-dnt="true" data-theme="light" data-link-color="#E95F28" href="https://twitter.com/rozross?ref_src=twsrc%5Etfw">Tweets by rozross</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>

</section>
