<footer id="footer" role="contentinfo">
  <section class="dark1-bg">
    <div class="pad-t pad-b gutter wrapper">
      <h3 class="push-1-2 mega">Send me a message</h3>
      <form class="grid" method="post" action="https://formspree.io/info@rozross.com" role="search">
        <div class="unit xs-1 s-1 m-1-2 push-1-2 name-input">
          <label class="micro" for="name">Name</label>
          <input id="name" name="name" placeholder="Full name">
        </div>

        <div class="unit xs-1 s-1 m-1-2 push-1-2">
          <label class="micro" for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="email@me.com">
        </div>

        <div class="unit xs-1 push-1-2">
          <label class="micro" for="message">Message</label>
          <textarea id="message" name="message" placeholder="What's on your mind?"></textarea>
        </div>

        <div class="unit xs-1">
          <button type="submit">Send</button>
        </div>

      </form>
    </div>
  </section>

  <section class="dark2-bg">
    <div class="grid pad-t gutter wrapper">
      <div class="unit xs-1 s-1 m-1-3 push">
        <h3 class="push-1-2 mega">Explore</h3>
        <ul class="list-group push-0 micro">
          <li class="push-1-8">
            <a class="white-link" href="{{site.baseurl}}/" rel="home" itemprop="url">Home</a>
          </li>
          <li class="push-1-8">
            <a class="white-link" href="{{site.baseurl}}/about/" itemprop="url">About</a>
          </li>
          <li class="push-1-8">
            <a class="white-link" href="{{site.baseurl}}/services/" itemprop="url">Services</a>
          </li>
          <li class="push-1-8">
            <a class="white-link" href="{{site.baseurl}}/blog/" itemprop="url">Blog</a>
          </li>
        </ul>
      </div>

      <div class="unit xs-1 s-1 m-1-3 push">
        <h3 class="push-1-2 mega">Connect</h3>
        <ul class="list-group push-0 micro">
          <li class="push-1-8">
            <a class="footer-icon-link" href="https://www.instagram.com/rozross/" rel="external" itemprop="url">
              <i class="icon i-32 footer-icon">
                <img class="img-flex" src="https://via.placeholder.com/100" alt="Instagram">
              </i>
              <span class="icon-label footer-social-link">Instagram</span>
            </a>
          </li>

          <li class="push-1-8">
            <a class="footer-icon-link" href="https://www.linkedin.com/in/rozross/" rel="external" itemprop="url">
              <i class="icon i-32 footer-icon">
                <img class="img-flex" src="https://via.placeholder.com/100" alt="LinkedIn">
              </i>
              <span class="icon-label footer-social-link">LinkedIn</span>
            </a>
          </li>

          <li class="push-1-8">
            <a class="footer-icon-link" href="https://twitter.com/rozross" rel="external" itemprop="url">
              <i class="icon i-32 footer-icon">
                <img class="img-flex" src="https://via.placeholder.com/100" alt="Twitter">
              </i>
              <span class="icon-label footer-social-link">Twitter</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="unit xs-1 s-1 m-1-3 push">
        <h3 class="push-1-2 mega">Contact</h3>
        <ul class="list-group push-0 micro">
          <li class="push-1-8">
            <a class="white-link" href="mailto:info@rozross.com">info@rozross.com</a>
          </li>
          <li class="push-1-8">Phone</li>
          <li class="push-1-8">Address</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="dark3-bg">
    <div class="pad-t pad-b gutter wrapper">
      <aside role="complementary">
        <p class="push-0 nano">© 2018 Roz Ross. All rights reserved.</p>
      </aside>
    </div>
  </section>
</footer>
