<footer id="footer" role="contentinfo">
  <section class="dark1-bg">
    <div class="pad-t pad-b gutter wrapper">
      <h3 class="push-1-2 mega">Send me a message</h3>
      <form class="grid" method="post" action="https://formspree.io/info@rozross.com" role="search">
        <div class="unit xs-1 s-1 m-1-2 push-1-2 name-input">
          <label class="micro" for="name">Name</label>
          <input id="name" name="name" placeholder="Full name">
        </div>

        <div class="unit xs-1 s-1 m-1-2 push-1-2">
          <label class="micro" for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="email@me.com">
        </div>

        <div class="unit xs-1 push">
          <label class="micro" for="message">Message</label>
          <textarea id="message" name="message" placeholder="What's on your mind?"></textarea>
        </div>

        <div class="unit xs-1 text-center">
          <button class="coral-btn" type="submit">Send</button>
        </div>

      </form>
    </div>
  </section>

  <section class="dark2-bg">
    <div class="grid pad-t gutter wrapper">
      <div class="unit xs-1 s-1 m-1-3 push">
        <h3 class="push-1-2 mega">Explore</h3>
        <ul class="list-group push-0 micro">
          <li class="push-1-8">
            <a class="white-link" href="{{site.baseurl}}/" rel="home" itemprop="url">Home</a>
          </li>
          <li class="push-1-8">
            <a class="white-link" href="{{site.baseurl}}/about/" itemprop="url">About</a>
          </li>
          <li class="push-1-8">
            <a class="white-link" href="{{site.baseurl}}/services/" itemprop="url">Services</a>
          </li>
          <li class="push-1-8">
            <a class="white-link" href="{{site.baseurl}}/blog/" itemprop="url">Blog</a>
          </li>
        </ul>
      </div>

      <div class="unit xs-1 s-1 m-1-3 push">
        <h3 class="push-1-2 mega">Connect</h3>
        <ul class="list-group push-0 micro">
          <li class="push-1-8">
            <a class="footer-icon-link" href="https://www.instagram.com/rozross/" rel="external" itemprop="url">
              <i class="icon i-24 footer-icon">
                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="0 0 100 100" width="100" height="100"><defs><style>.cls-1{fill:#fff}</style></defs><path d="M50 60.77A10.77 10.77 0 1 0 39.23 50 10.77 10.77 0 0 0 50 60.77z" class="cls-1"/><path d="M67.23 50a17.23 17.23 0 0 1-34.46 0 17 17 0 0 1 .57-4.31h-4.88v23.69a2.16 2.16 0 0 0 2.16 2.16h38.76a2.16 2.16 0 0 0 2.16-2.16V45.69h-4.88a17 17 0 0 1 .57 4.31z" class="cls-1"/><path d="M50 0a50 50 0 1 0 50 50A50 50 0 0 0 50 0zm28 71.54A6.46 6.46 0 0 1 71.54 78H28.46A6.46 6.46 0 0 1 22 71.54V28.46A6.46 6.46 0 0 1 28.46 22h43.08A6.46 6.46 0 0 1 78 28.46z" class="cls-1"/><path d="M62.92 28.46h6.46a2.15 2.15 0 0 1 2.15 2.15v6.46a2.15 2.15 0 0 1-2.15 2.15h-6.45a2.16 2.16 0 0 1-2.16-2.16v-6.45a2.15 2.15 0 0 1 2.15-2.15z" class="cls-1"/></svg>              </i>
              <span class="icon-label footer-social-link">Instagram</span>
            </a>
          </li>

          <li class="push-1-8">
            <a class="footer-icon-link" href="https://www.linkedin.com/in/rozross/" rel="external" itemprop="url">
              <i class="icon i-24 footer-icon">
                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" width="100" height="100" viewBox="0 0 100 100"><defs><style>.cls-1{fill:#fff}</style></defs><path d="M50 0a50 50 0 1 0 50 50A50 50 0 0 0 50 0zM37.51 72.57h-9.38V42.42h9.38zM32.83 38.3a5.44 5.44 0 1 1 5.43-5.44 5.44 5.44 0 0 1-5.43 5.44zm39.78 34.27h-9.37V57.91c0-3.5-.06-8-4.87-8s-5.62 3.81-5.62 7.75v14.91h-9.36V42.42h9v4.12h.13a9.85 9.85 0 0 1 8.87-4.87c9.49 0 11.24 6.24 11.24 14.36z" class="cls-1"/></svg>
              </i>
              <span class="icon-label footer-social-link">LinkedIn</span>
            </a>
          </li>

          <li class="push-1-8">
            <a class="footer-icon-link" href="https://twitter.com/rozross" rel="external" itemprop="url">
              <i class="icon i-24 footer-icon">
                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="0 0 100 100" width="100" height="100"><defs><style>.cls-1{fill:#fff}</style></defs><path d="M50 0a50 50 0 1 0 50 50A50 50 0 0 0 50 0zm22.27 38.58v1.49c0 15.18-11.56 32.68-32.69 32.68A32.49 32.49 0 0 1 22 67.59a22.53 22.53 0 0 0 2.74.16A23 23 0 0 0 39 62.83a11.49 11.49 0 0 1-10.73-8 11.81 11.81 0 0 0 2.16.2 11.66 11.66 0 0 0 3-.4 11.5 11.5 0 0 1-9.22-11.27v-.14a11.46 11.46 0 0 0 5.2 1.44 11.49 11.49 0 0 1-3.51-15.31 32.62 32.62 0 0 0 23.68 12 11.32 11.32 0 0 1-.3-2.62 11.5 11.5 0 0 1 19.88-7.86 22.84 22.84 0 0 0 7.29-2.79 11.47 11.47 0 0 1-5 6.36A22.8 22.8 0 0 0 78 32.63a23.33 23.33 0 0 1-5.73 5.95z" class="cls-1"/></svg>              </i>
              <span class="icon-label footer-social-link">Twitter</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="unit xs-1 s-1 m-1-3 push">
        <h3 class="push-1-2 mega">Contact</h3>
        <ul class="list-group push-0 micro">
          <li class="push-1-8">
            <a class="white-link" href="mailto:info@rozross.com">info@rozross.com</a>
          </li>
          <li class="push-1-8">Phone</li>
          <li class="push-1-8">Address</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="dark3-bg">
    <div class="pad-t pad-b gutter wrapper">
      <aside role="complementary">
        <p class="push-0 nano">© 2018 Roz Ross. All rights reserved.</p>
      </aside>
    </div>
  </section>
</footer>
