---
layout: default
---

<main class="gutter max-length">

  <div class="pad-t push-2">
    <a class="back-link" href="/blog/" itemprop="url">
      <i class="icon i-16 back-link-icon">
        <img class="img-flex" src="/images/icons/back-arrow.svg/" alt="">
      </i>
      <span class="icon-label micro">Back to blog</span>
    </a>
  </div>

  <div>
    <h1 class="zetta">{{page.title}}</h1>
  </div>

  {{content}}

  <div class="push pad-t">
    <a class="back-link" href="/blog/" itemprop="url">
      <i class="icon i-16 back-link-icon">
        <img class="img-flex" src="/images/icons/back-arrow.svg/" alt="">
      </i>
      <span class="icon-label micro">Back to blog</span>
    </a>
  </div>
</main>
